@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: #050505;
  color: #ededed;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
